html
  head
    title Lights Control
  body
    h1 40 Planet Street
    h3 Lights control

    hr

    h4 Plugs
    - for (var x = 0; x < plugs.length; x++)
      li
        span #{plugs[x].name} 
        button.plug-power(data-index=x data-power="on") On
        button.plug-power(data-index=x data-power="off") Off

    script.
      function lightsPower(index, power) {
        fetch('/plug/' + index + '/' + power);
      }

      document.querySelectorAll('.plug-power').forEach(elem => elem.onclick = () => lightsPower(elem.getAttribute('data-index'), elem.getAttribute('data-power')));
